[Unit]
Description=Data receiving daemon for data diode
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/diode-send
User=root

[Install]
WantedBy=multi-user.target
