[Unit]
Description=Data transmitting daemon for data diode
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/diode-receive
User=root

[Install]
WantedBy=multi-user.target
