[Unit]
Description=Data transmitting daemon for data diode
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/bin/diode_receive --directory /var/www/diode --device /dev/ttyUSB0 --arduino /dev/ttyUSB1
User=root

[Install]
WantedBy=multi-user.target
