[Unit]
Description=Data receiving daemon for data diode
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/bin/diode_send --directory /var/www/diode --device /dev/ttyUSB0
User=root

[Install]
WantedBy=multi-user.target
